body{
    margin: 0;
    padding: 0;
    /* height: 100vh; */
    background-color: white;
    justify-content: center;
    text-align: center;
}

.title{
    margin: 0 auto;
    justify-content: center;
}

.title h2{
    font-size: 3rem;
    color: darkgreen;
    margin: 20px;
}

.underline{
    margin: 0 auto;
    color: rgb(74, 29, 29);
    border: 2px solid;
    width: 20%;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 20px;
}


button{
    margin: 0 5px;
    background: transparent;
    border: 1px solid  rgb(74, 29, 29);
    border-radius: 5px;
    padding: 5px;
    color: darkgreen;
}

button:hover{
    background-color: darkgreen;
    color: white;
}

.section-center{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 70%;
    padding: 20px;
}

.menu-item{
    display: flex;
    /* height: 150px; */
    /* width: 50%; */
    /* border: 1px solid red; */
    margin: 10px;
    padding: 10px;
}

.menu-item img{
    /* height: 150px; */
    width: 150px;
    border-radius: 5px;
    /* margin: 0 5px; */
}

.item-info{
    margin: 10px;
}

.item-title{
    display: flex;
    justify-content: space-between;
    color: darkgreen;
    border-bottom: 1px solid rgb(74, 29, 29);

}

@media screen and (max-width: 900px) {
    
}